/******************************************************************
	site header toolbar buttons
******************************************************************/
.siteToolbar
{
	float:left;
	height:50px;
	-ms-user-select:none;
  -ms-text-size-adjust:none;
  background: -ms-linear-gradient(top,#586F8D,#224272);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#586F8D', endColorstr='#224272');
}

.siteToolbarGroup
{
	margin-top:12px;
}

.siteToolbarGroup.left
{
	float:left;
	margin-right:30px;
}

.siteToolbarGroup.right
{
	float:right;
	margin-left:30px;
	padding-right:30px;
}

.siteToolbarButton
{
	margin-top:2px;
	font-size:12px;
	float:left;
	color: #ffffff;
	padding:4px 10px;
	border-right:1px solid white;
}

.siteToolbarButton:hover
{
	cursor:default;
}

.siteToolbarButtonBegin
{
	border-right:1px solid white;
}

.siteToolbarButtonEnd
{
	border-right:0px solid white;
}

.siteToolbarButton:active {
}

.siteToolbarButton:hover
{
	cursor:pointer;
}

.siteToolbarButton:hover span
{
  text-decoration:underline;
}

.siteToolbarButtonExpandImg
{
	margin-left:3px;
	height:4px;
	width:6px;
	margin-bottom:-1px;
}

/**********************************
	pulldown menus
**********************************/
.sitePullDownMenu
{
  display:none;
  color:black;
  padding-top:5px;
  padding-bottom:5px;
  position:absolute;
  border:1px solid #9A9A9A;
  border-radius:5px;
  -ms-box-shadow: 0 5px 5px #9A9A9A;
  -webkit-box-shadow: 0 5px 5px #9A9A9A;
  -moz-border-radius:5px;
  -moz-box-shadow: 0 5px 5px #9A9A9A;
  min-width:100px;
	white-space:nowrap;
  font-size:12px;
  font-weight:normal;
  z-index:999;
  text-align:left;
  background-color:white;
	text-decoration:none;
}

.sitePullDownMenu div
{
  padding:5px;
}

.sitePullDownMenu img
{
  margin-left:5px;
	margin-right:5px;
}

.sitePullDownMenu hr
{
  color:black;
  background-color:black;
  margin-left:5px;
  margin-right:5px;
}

.sitePullDownMenu div:hover
{
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#058cf5), to(#015fe7));
  background: -webkit-linear-gradient(top,#586cf5,#015fe7);
  background: -ms-linear-gradient(top,#586cf5,#015fe7);
  background: -moz-linear-gradient(top,#586cf5,#015fe7);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#586cf5', endColorstr='#015fe7');
  cursor:default;
  color:white;
	text-decoration:none;
}

/***************************************
	main toolbar search field
***************************************/

#siteToolbarSearchContainer
{
  background-image:url("../images/toolbar/search-field.gif");
	background-size:contain;
	background-repeat:no-repeat;
  width:182px;
  height:18px;
	margin-top:15px;
	background-color:transparent;
	border:0px solid transparent;
	margin-right:30px;
	float:left;
}
 
#siteToolbarSearch {
  font-size:11px;
  height:12px;   
  width:130px;      
  margin-top:3px;
  border:0px solid white;
	margin-left:20px;
	border:0px solid transparent;
}
 
.siteToolbarSearchExpandImg
{
	margin-left:15px;
	height:4px;
	width:6px;
	margin-bottom:-5px;
	padding-left:5px;
	padding-top:5px;
	padding-bottom:5px;
}
